#main {
    flex-direction: column;
    padding-top:2%;
}

.founders {
    display: flex;
    flex-direction: column;
}

.foundersinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.foundersinfo  h1{
    color:white;
    font-size: 7.2vh;;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1% 0% 1% 0%;
}

.card {
    width: 20vw;
    text-align: center;
    background-color:#2d3130;

}

.card > img {
    width: 90%;
    margin: 0% 5% 0% 5%;
    border: 0px solid white;
    border-radius: 7px;
}

.card > section > h4 {
    font-size: 20px;
    font-weight: bolder;
    margin: 3% 0% 3% 0%;
}

#main li {
    list-style: none;
}

.timeline-both-side {
	float: left;
	width: 96%;
	margin: 20px 2% 50px;
	position: relative;
	box-sizing: border-box;
}

.timeline-both-side:before {
	background-color: #0097a7;
	bottom: 0;
	content: " ";
	left: 50%;
	position: absolute;
	top: 0;
	width: 1px;
}

.timeline-both-side:after {
	border-radius: 50%;
	bottom: -18px;
	content: "";
	height: 18px;
	left: 50.25%;
	margin-left: -11px;
	position: absolute;
	width: 18px;
	border: 2px solid #0097a7;
}

.timeline-both-side li {
	position: relative;
	float: left;
	width: 100%;
}

.timeline-both-side li .border-line {
	background-color: #0097a7;
	font-size: 1.4em;
	height: 1px;
	left: 50%;
	margin-left: -8%;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 8%;
	z-index: 100;
}

.timeline-both-side li.opposite-side .border-line {
	left: auto;
	right: 50%;
	margin-left: 0;
	margin-right: -8%;
}

.timeline-both-side li .border-line:before {
	background-color: #0097a7;
	content: "";
	height: 7px;
	position: absolute;
	right: -4px;
	top: -3px;
	width: 7px;
}

.timeline-both-side li.opposite-side .border-line:before {
	left: -4px;
	right: auto;
}

.timeline-both-side li .timeline-description {
   
	border-radius: 2px;
	background-color: #f1f1f1;
	border: 1px solid #0097a7;
	float: left;
	font-size: 13px;
	padding: 10px;
	position: relative;
	width: 42%;
}

.timeline-both-side li.opposite-side .timeline-description {
	float: right;
}

@media only screen and (max-width:992px) {
    .founders-info {
        zoom: 150%;
    }
}
