#main {
    flex-direction: column;
    padding-top:2%;
}

.founders {
    display: flex;
    flex-direction: column;
}

.foundersinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.foundersinfo  h1{
    color:white;
    font-size: 7.2vh;;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1% 0% 1% 0%;
}

.card {
    width: 20vw;
    text-align: center;
    background-color:#2d3130;

}

.card > img {
    width: 90%;
    margin: 0% 5% 0% 5%;
    border: 0px solid white;
    border-radius: 7px;
}

.card > section > h4 {
    font-size: x-large;
    font-weight: bolder;
    margin: 3% 0% 3% 0%;
}

/* header{
   background-image: url("../images/particlebackground.png");
   display:flex;
   flex-direction: column;
   height: 100vh;
}

.infosection{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.infosectioninfo{
    display:flex;
    flex-direction: column;
    width: 90vw;
}
.infosectioninfo h1{
    color:white;
    font-size: 15vh;
    font-family: 'Quicksand';
    text-align: center;
    font-weight: lighter;
}
.infosectioninfo h4{
    color:white;
    text-align:center;
    font-size: 5vh;
    margin:0;
    font-weight: lighter;
}
.founders{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color: #cbcbcc;
}
.foundersinfo{
    width: 90vw;
}
.foundersinfo > h1{
    color:#191b1aff;
    font-size: 10vh;
    font-family: 'Quicksand';
    text-align: center;
    font-weight: lighter;
}
.firstrow, .secondrow{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.card{
    display:flex;
    flex-direction:column;
    width: 30vh;
}
.card .title{
    background-color:#0097a7;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.card .title h4{
    color:white;
    font-size: 2vh;
    text-align:center;
}
.card img{
    width: 30vh;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.card .footer{
    padding: 10px;
    font-size: 2vh;
    text-align: center;
} */