#main {
    display: flex;
    flex-direction: row;
    background-color: #191b1aff;
}

#sidebar {
    width: 20%;

    background-color:#2d3130;
}

#nav-box-pad {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#nav-box{
    display:flex;
    flex-direction: column;
}
#nav-box h4 {
    padding: 5% 15%;
    background-color:#0097a7;
    margin:0;
}

#nav-box > a {
    color: aliceblue;
    text-decoration: none;
    padding: 5% 15%;
}

#nav-box > a:hover {

    background-color:#00000025;
}

#content {
    padding:2%;
    width: 80%;
    margin-left: 2%;
}

#content > div {
    margin-bottom: 2%;
}

.events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
}

#eventsToggle {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    border: 0px;
}

#eventsToggle:hover {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    border: 0px;
}

.event {
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 45%;
    margin: 1%;
    background-color: rgb(27, 27, 27);
}

.event-image {
    margin-right: 3%;
    width: 15vh;
}

.event-text {
    width: 70%;
    vertical-align: middle;
}

#calendar-container > h5 {
    text-align: center;
    margin-top: 2%;
}

#competition-calendar {
    width: 50%;
    height: 20.5%;
    margin-top: 2%;
    margin-left: 25%;
}

.fc-scroller {
    overflow: unset !important;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
    width: 100%;
    height: 100%;
}

#competition-calendar a {
    color: white;
    text-decoration: none;
}