#main {
    display: flex;
    flex-direction: row;
    padding: 2% 1% 2% 1%;
    background-color: #191b1aff;
}

#sidebar {
    width: 20%;
}

#nav-box-pad {
    padding-top: 8%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#nav-box {
    padding: 5% 15%;
    border: 3px solid white;
}

#nav-box > a {
    color: aliceblue;
    text-decoration: none;
}

#nav-box > a:hover {
    color: rgb(201, 201, 201);
    text-decoration: underline;
}

#content {
    width: 80%;
    margin-left: 2%;
}

#content > div {
    margin-bottom: 2%;
}

.events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
}

#eventsToggle {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    border: 0px;
}

#eventsToggle:hover {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    border: 0px;
}

.event {
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 45%;
    margin: 1%;
    background-color: rgb(35, 36, 35);
}

.event-image {
    margin-right: 3%;
    width: 30%;
}

.event-text {
    width: 70%;
    vertical-align: middle;
}