#header {
    padding-bottom: 1%;
    text-align: center;
    border-bottom: 5px solid aliceblue;
    background-image: url('../images/particlebackground.png');
}

#title {
    font-size: 100px;
}

#main {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 2% 5%;
    background-color: #191b1aff;
}

#upper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#overview > hr {
    width: 99%;
}

#info-box {
    width: 20%;
    padding: 2%;
    background-color: rgb(38, 39, 39);
}

#info-name {
    text-align: center;
}

#info-image {
    width: 70%;
    margin: 0% 15%;
    padding: 1%;
    background-color: rgb(46, 46, 46);
    border: 2px solid black;
}

.resource {
    padding-left: 1%;
    cursor: pointer;
}

#resources > div > div > a {
    text-decoration: underline;
}