
.over p{
    color:rgb(204, 204, 204)
}

.fa-instagram, .fa-discord{
    font-size: 50px;
    cursor: pointer;
}

.fa-instagram{
    color:rgb(216, 94, 94);
}

.fa-discord{
    color:rgb(154, 82, 212)
}

#logo img {
    width: 70px;
    height:70px;
}

footer form input{
    width: 100%;
}

footer form textarea{
    margin-bottom: 10px;
    width: 100%;
}

footer form button {
    width: 100%;
}

#contact-info .footlink{
    color: rgb(204, 204, 204);
    text-decoration: none;

}
#contact-info .footlink:hover{
    text-decoration:underline;
}
#contact-info p{
    color: rgb(204, 204, 204);
}

footer input, textarea {
   color:black;
   font-size: 20px;
   margin-top:2%;
   padding: 2%;
   border-radius: 7px;
   border:none;
}

input::-webkit-input-placeholder, #message::-webkit-input-placeholder {
    font-size: 20px;
}

footer button {
    background-color: #0097a7;
    border-radius: 7px;
    border:none;
    padding: 2%;
}

.cssa-logo img {
    width: 300px!important;
}

footer .row {
    text-align: left!important;
}

footer {
    background-color: black!important;
    border-top: 5px solid #0097a7;
    padding-top:1%;
    padding-bottom: 1%;
    margin-top: 50px;
    position: relative;
    text-align: center;
}

@media only screen and (max-width:992px) {
    footer {
        zoom: 150%;
        padding-top: 30px;
        margin-top: 35px;
        padding-left: 20%;
        padding-right: 20%;
    }
}