footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
    border-top: 7px solid #0097a7;
    background-color:rgb(20, 22, 21);
}
.logos{
    display:flex;
    flex-direction: row;

    
}
#logo {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.over p{
    color:rgb(204, 204, 204)
}
.titlewrap{
    height: 70px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.fa-instagram, .fa-discord{
    font-size: 50px;
    cursor: pointer;
    
}
.fa-instagram{
    color:rgb(216, 94, 94);
    margin-right: 10px;
    margin-top: 10px;
}
.fa-discord{
    margin-top:10px;
    color:rgb(154, 82, 212)
}
#logo img {
    width: 70px;
    height:70px;
    margin-right: 10px;
}

#contact-info {
    text-align: left;
    width: 30%;
    margin-left: 7%;
}

#contact-info .footlink{
    color: rgb(204, 204, 204);
    text-decoration: none;

}
#contact-info .footlink:hover{
    text-decoration:underline;
}
#contact-info p{
    color: rgb(204, 204, 204);
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%
}

.title {
    text-align: center;
}

footer input, textarea {
   color:black;
   font-size: 20px;
   margin-top:2%;
   padding: 2%;
   border-radius: 7px;
   border:none;
}

input::-webkit-input-placeholder, #message::-webkit-input-placeholder {
    font-size: 20px;
}

button {
    background-color: #0097a7;
    margin-top: 2%;
    border-radius: 7px;
    border:none;
    padding: 2%;
    
}