.header {
    display:flex;
    flex-direction:row;
    justify-content:center;
    width: 100%;
    height: 100%;
}
#particle-canvas{
    z-index: -1;

}

.header > section {
    display:flex;
    flex-direction: column;
}

.header h1 {
    text-align: center;
    font-size: 15vh;
}

#particle-canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: -10px;
    position: fixed !important;
}

.card {
    display: flex;
    flex-direction: row;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 15%;
    padding-right: 15%;
}

.content-card-1 {
    background-color: rgb(35, 36, 35);
}

.content-card-2 {
    background-color: rgb(20, 22, 21);
}

.card img {
    width: 35%;
    height: 20%;
    margin-right: 5%;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 120%;
    line-height: 150%;
}

.main-section{
    position: relative;
   top:50px;
}