.header {
    display:flex;
    flex-direction:row;
    justify-content:center;
    width: 100%;
}



@media only screen and (max-width:992px) {
    .header {
        height: 100%;
    }
    .main-model {
        zoom: 80%;  
    }
    .model-b {
        width: 60%;
    }
    .row {
        display: flex;
       text-align: center;
    }
    .model-content {
        zoom: 150%;
    }
    .model-content-a {
        padding-bottom: 3%;
    }
    .model-content-b {
        padding-bottom: 5%;
    }
    .sponsors {
        zoom: 150%;
    }
    .header {
        padding-top: 100px!important;
    }
    .logos {
        display: none!important;
    } 
    .mob-logos {
        display: block;
        background-color: white;
        width: 80%;
        position: relative;
        padding: 30px;
        border-radius: 10px;
        left: 10%;
        margin-bottom: 20px;
        margin-top: -20px;
    }   
}
@media only screen and (min-width:992px) {
    .header {
        height: 70vh;
    }
    .model-a {
        width: 100%;
    }
    .model-b {
        width: 90%;
    }
    .model-content-a {
        padding: 0% 10%; 
        padding-top: 3%;
    }
    .model-content-b {
        padding-top: 5%;
    }
    .logos {
        display: block;
    }  
    .mob-logos {
        display: none;
    } 
}

#particle-canvas{
    z-index: -1;

}

.header > section {
    display:flex;
    flex-direction: column;
}

.header h1 {
    text-align: center;
    font-size: 15vh;
}

#particle-canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: -10px;
    position: fixed !important;
}

.card {
    display: flex;
    flex-direction: row;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 15%;
    padding-right: 15%;
}

.content-card-1 {
    background-color: rgb(35, 36, 35);
}

.content-card-2 {
    background-color: rgb(20, 22, 21);
}

.card img {
    width: 35%;
    height: 20%;
    margin-right: 5%;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 120%;
    line-height: 150%;
}

.main-section{
    position: relative;
   top:50px;
}
