@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.header{
    display:flex;
    width: 99vh;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
}
.header section{

}
#particle-canvas{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: -10px;
    position: fixed !important;
}
.card {
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: xx-large;
}

.content-card-1 {
    background-color: rgb(35, 36, 35);
}

.content-card-2 {
    background-color: rgb(20, 22, 21);
}

.card img {
    width: 35%;
    height: 20%;
    margin-right: 5%;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}