#header {
    padding-bottom: 10vh;
    text-align: center;
    z-index: -1;

}
#particle-canvas{
    width:100%;
    height:100vh;
    position:fixed !important;
    z-index: -1;
}
#title {
    font-size: 100px;
}

#main {
    display: flex;

    background-color: #212423;
}