#header {
    padding-bottom: 10vh;
    text-align: center;
    z-index: -1;
    background-image: url('../images/particlebackground.png');
}

#title {
    font-size: 100px;
}

#main {
    display: flex;
    background-color: #212423;
}