@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    color: #ede4e4;
    font-size: 20px;
}

body {
    background-color: #191b1aff;
    font-family: 'Quicksand';
    margin: 0;
}

.nav-link {

    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: rgb(180, 180, 180);
    
    border-bottom: 3px solid transparent;
}


.active {
    color: white;
}
.top-nav-link {
    text-transform: uppercase;
    font-size: 12px;

    text-decoration: none;
    color: rgb(180, 180, 180);
}
.top-nav-link:hover {
    color: white;
    text-decoration: none;
}
.navbar-toggler {
    color: white;
    zoom: 150%;
    position: absolute;
    right:30px;
    top:20px;
    border: none;
    outline:none;
}
@media only screen and (max-width:1000px) {
    .nav-link:hover {
        color: white;
    }
    nav {
        zoom: 120%;
    }
    nav #logo-header{
        margin-top: 1%;
        position: relative;
    }
    .nav-item {
        text-align: right;
    }
    
}
@media only screen and (min-width:1000px) {
    .button-out {
        padding-right: 30px;
        padding-left: 30px;
        position: relative;
    }
    .navbar-nav{
        position: absolute;
        right:0;
    }
    .nav-link:hover {
        color: white;
        border-bottom: 3px solid white;
    }
    nav {
        height: 100px;   
    }
    
}

.text-link {
    color: rgb(0, 174, 255);
}

.text-link:hover {
    cursor: pointer;
    color: rgb(0, 141, 206)
}


nav #logo-header{
    margin-left: 5%;
    position: relative;
}


.main-section{
    position: relative;
   top:0px;
}

.nav-link {
    font-weight: bold;
   
    zoom: 100%;
}



.nav-item .button {
    background-color: transparent;
    font-weight: bold;
    color: #18C2CB;
    border: 3px solid #18C2CB;
    text-decoration: none;
    padding: 10px;
    height: 40px;
    border-radius: 9px;
    top: 7px;
    position: relative;
}

.nav-item .button:hover {
    background-color: #fff;
    transition: 0.3s ease-out;
}