@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    color: #ede4e4;
    font-size: 20px;
}

body {
    background-color: #191b1aff;
    font-family: 'Quicksand';
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

::-moz-selection { 
    color: white;
    background: #0097a7;
}
  
::selection {
    color: white;
    background: #0097a7;
}




@media only screen and (max-width:991px) {
    .contact-icons {
        display: none!important;
    }
    nav {
        zoom: 200%;
        height: auto;
    }
}
@media only screen and (min-width:992px) {
    nav {
        height: 90px;
    }
    .button-out {
        padding-right: 30px;
        padding-left: 30px;
        position: relative;
    }
    
}

.text-link {
    color: rgb(0, 174, 255);
}

.text-link:hover {
    cursor: pointer;
    color: rgb(0, 141, 206);
}

.main-section{
    position: relative;
   margin-top:100px;
}



#preloader {
    position: absolute;
    top: 36%;
    left: 36%;
    width: 20%;
    height: 20%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #046a75;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #038896;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0097A7;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.google-auth img {
    width: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    border: 3px solid lightgrey;
    cursor: pointer;
}

.google-auth img:hover {
    background-color: #faf9f5;
}

.object-premise {
    min-height: 500px;
}


.nav-link {
    font-size: 20px;
    border: 2px solid transparent;
}

.nav-link:hover {
    color: 	#17AFB7!important;
    border-bottom: 2px solid #0097a7;
}

.active {
    color: 	#17AFB7!important;
}

#navbar-login {
    text-decoration: none;
    cursor: pointer;
    padding: 7px 14px;
    border-radius: 10px;
    border: 1px solid #17AFB7;
    background-color: transparent;
    color: #17AFB7;
    width: 120px;
    height: 45px;
    text-align: center;
}

#navbar-login:hover {
    background-color: rgba(255,255,255, 0.1);
}


nav {
    padding: 0% 3%;
    font-weight: bold;
    text-transform: uppercase;
}

.d-inline-block {
    width: 70px;

}
@media only screen and (max-width:992px) {
    nav {
        background-color: black;
        text-align: left; 
    }
}

.modal {
    z-index: 1000000000000000!important;
}
