@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    color: #ede4e4;
    font-size: 20px;
}

body {
    background-color: #191b1aff;
    font-family: 'Quicksand';
    margin: 0;
    
}

body::-webkit-scrollbar {
    display: none;
}

::-moz-selection { 
    color: white;
    background: #0097a7;
}
  
::selection {
    color: white;
    background: #0097a7;
}

.nav-link {

    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: rgb(180, 180, 180);
    
    border-bottom: 3px solid transparent;
}


.active {
    color: white;
}
.top-nav-link {
    text-transform: uppercase;
    font-size: 12px;

    text-decoration: none;
    color: rgb(180, 180, 180);
}
.top-nav-link:hover {
    color: white;
    text-decoration: none;
}
.navbar-toggler {
    color: white;
    zoom: 150%;
    position: absolute;
    right:30px;
    top:20px;
    border: none;
    outline:none;
}
@media only screen and (max-width:1000px) {
    .nav-link:hover {
        color: white;
    }
    nav {
        zoom: 120%;
    }
    nav #logo-header{
        margin-top: 1%;
        position: relative;
    }
    .nav-item {
        text-align: right;
    }
    
}
@media only screen and (min-width:1000px) {
    .button-out {
        padding-right: 30px;
        padding-left: 30px;
        position: relative;
    }
    .navbar-nav{
        position: absolute;
        right:0;
    }
    .nav-link:hover {
        color: white;
        border-bottom: 3px solid white;
    }
    nav {
        height: 100px;   
    }
    
}

.text-link {
    color: rgb(0, 174, 255);
}

.text-link:hover {
    cursor: pointer;
    color: rgb(0, 141, 206)
}


nav #logo-header{
    margin-left: 5%;
    position: relative;
}


.main-section{
    position: relative;
   top:0px;
}

.nav-link {
    font-weight: bold;
   
    zoom: 100%;
}



.nav-item .button {
    background-color: transparent;
    font-weight: bold;
    color: #18C2CB;
    border: 3px solid #18C2CB;
    text-decoration: none;
    padding: 10px;
    height: 40px;
    border-radius: 9px;
    top: 9px;
    position: relative;
}

.nav-item .button:hover {
    background: rgba(255,255,255, 0.1);
    transition: 0.3s ease-out;
}

#preloader {
    position: absolute;
    top: 36%;
    left: 36%;
    width: 20%;
    height: 20%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #046a75;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #038896;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0097A7;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.google-auth img {
    width: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    border: 3px solid lightgrey;
    cursor: pointer;
}

.google-auth img:hover {
    background-color: #faf9f5;
}

.object-premise {
    min-height: 500px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}